.about-us-container{
    background-image: url('/src/img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 5vh;
    padding-right: 5vh;
    top: 5;
    bottom: 10;
    left: 0;
    right: 0;
    height:92vh;
}

.about-us-container .content-container{
    padding: 0
}

.content-container p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.about-us-container .row{
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}