#flyoutMenu {
    background-color: #FFE600;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    border-radius: 2vw;
    margin: 20vh 40vw 100vh 30vw;
    width: 50vw;
    height:50vh;
    
  }
   
  #flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
    width: 0vw;
    height: 0vh;
    transition: all 0.2s ease-out;
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }
   
  #flyoutMenu h2 a:hover {
    text-decoration: underline;
  }

  .product-container{
    margin-left:1vw;
    

  }
  .product-container #image {
    height: 45vh;
    width: 20vw;
    border-radius: 5vh;
    padding:2vh;
    position: absolute;
    left: 28vw;
    top: 0vh;
}

.fa-comments-dollar{
  font-size: 8vh;
}

.product-container .text-container{
  width: 15vw;
}

.product-container #productName{
  width:30vw;
  
}
.product-container #price{
  font-size: 3vh;
  font-weight: bold
}

.product-container .tag{
  margin-left: 1vw;
  padding:0vh 0.5vw 0vh 0.5vw;
  border-radius: 1vh;
  background-color: rgb(209, 209, 209);
}

.product-container #postDate{
  padding:1vh 0vw 0vh 0vw;
  font-size: 2.5vh;
  width: 30vw
}


@media screen and (max-width: 960px) {
  #flyoutMenu{
    width:80vw;
    margin: 20vh 40vw 100vh 10vw;
  }

  .product-container #image {
    height: 35vh;
    width: 35vw;
    border-radius: 5vh;
    padding:2vh;
    position: absolute;
    left: 45vw;
    top: 0vh;
}
.product-container h1{
  position: sticky;    
  width: 10vw
}

.product-container #owner{
  max-width: 30vw
}

}