.registration-container .password-icon{
    position: absolute;
    top: 0vh;
    right: 0vh;
    z-index: 4;
    cursor: pointer;
}

.registration-container .re-password-icon{
    position: absolute;
    top: 0vh;
    right: 0vh;
    z-index: 3;
    cursor: pointer;
}

.registration-container {
    margin: auto;

    background-image: url('/src/img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 9vh 3vh 0vh 125vh;
    position: absolute;
    top: 8vh;
    bottom: 0vh;
    left: 0;
    right: 0;
    height: 91vh;
}



.registration-container .main-area {
    width: 50vh;
    max-width: 500px;
    margin: auto;
    color: #333;
    font-size: 12px;
}

.registration-container .form-container {
    float: right;
    max-width: 600px;
    width: 45vh;
    padding: 5vh 3vh;
    background: rgba(255, 255, 255, 0.836);
    box-shadow: 2px 2px 5px #666;
    align-items: center;
}

.registration-container input{
    width: 39vh;
    height: 6vh;
    border: 2px solid #777;
    outline: none;

}

.registration-container .text-field {
    width: 38vh;
    position: relative;
}

.registration-container .text-field label {
    margin-right: 20vh
}

.registration-container button{
    width: 19vw;
    padding: 10px 0;
    color: white;
    background: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-right: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .registration-container {
        padding: 8vh 3vw 0vh 2vw  ;
        margin-top: 0;
        height: 91vh;
        
    }
    .registration-container .main-area {
        width: 100%;
    }
    .registration-container .form-container {
        width: 75vw;
        margin: 0 auto;
        float: none;
    }


    .registration-container input{
        width: 65vw;
        height: 6vh;
        border: 2px solid #777;
        outline: none;
    
    }

    .registration-container button{
        width: 25vw;
    }
    

    .registration-container .re-password-icon{
        right: 2vh;
    }

    
    .registration-container .password-icon{
        right: 2vh;
    }

}