.info-container {
    margin: auto;
    background-image: url('/src/img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 9vh 0vh 6vh 0vh;
    position: absolute;
    top: 8vh;
    bottom: 0vh;
    left: 0;
    right: 0;
    height: 91vh;
}

.info-container .icon {
    width: 13vw;
    height: auto;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
  }

.info-container .form-container {
    float: middle;
    margin-left: 35%;
    margin-right: 35%;
    max-width: 400px;
    width: auto;
    padding: 1vh 3vh;
    background: rgba(255, 255, 255, 0.552);
    box-shadow: 2px 2px 5px #666;
    align-items: center;
}

.info-container button{
    width: 90%;

    color: white;
    background: rgba(109, 125, 218, 0.454);
    border-radius:1vw;
    text-transform: uppercase;
    margin-right: 1%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;

}