.product-list-container{
    
    background-image: url('/src/img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 5vh 3vw 5vh 3vw;
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;    
}

.product-list-container a:link, a:visited{
    text-decoration: none;
}



.product-list-container .grid-contianer{
    display: grid;
    grid-template-columns: auto auto  auto;

    padding: 10px;
    column-gap: 2vh;
    align-content: space-between;
    row-gap:2vh;

}

.product-list-container .card-container{
    width: 25vw;
    height: 30vh;
    border-radius: 2vh;
    background-color: rgba(109, 109, 109, 0.6);  
    padding: 2vh 1vw 1vh 1vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.card-container h1{
    margin-top: 0vh;
    text-decoration: none;    
}

.card-container #price{
    font-size: 3vh;
    font-weight: bold
}

.card-container .tag{
    margin-left: 1vw;
    padding:0vh 0.5vw 0vh 0.5vw;
    border-radius: 1vh;
    background-color: rgb(209, 209, 209);
}

.card-container #postDate{
    padding:1vh 0vw 0vh 0vw
}

.card-container #image {
    height: 27vh;
    width: 10vw;
    border-radius: 2.5vh;
    padding: 1vh;


}


@media screen and (max-width: 960px) {
    .product-list-container .grid-contianer{
        grid-template-columns: auto auto;
    }

    .product-list-container .card-container{
        width: 43vw;
        height: 35vh;
        display:block;
        padding: 0;

    }
    .card-container h1{
       font-size: 3vh;
       margin-bottom: 0vh;
    }

    .card-container .card-text-container{
        position: relative;
        top: 24vh;
        font-size: 2vh;
    }

    .card-container #price{
        font-size: 2vh;
        font-weight: bold
    }

    .card-container #image{
        position: relative;
        top:-10vh;
        width: 40vw;
        height: 23vh;
    }


}